@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;0,900;1,400;1,500&display=swap");
/***Globally css**/
a {
  color: var(--first-color);
}
a:hover {
  text-decoration: none;
  color: var(--first-color);
}
::-webkit-scrollbar {
  width: 0px;
}
/*****/
.header {
  padding: 5px 0;
}
.header-right {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  border: 5px solid var(--third-color);
}
.header-right span {
  font-size: 15px;
}
.sidebar-menu {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--first-color);
  background: var(--second-color);
  position: fixed;
  top: 0;
  transform: translateX(-260px);
  transition: 0.5s;
  z-index: 999;
  box-shadow: 0px 2px 10px black;
}
.sidebar-menu.active {
  transform: translateX(0px);
  transition: 0.5s;
}
.toggle-icon {
  color: var(--first-color);
}
.toggle-icon,
.hide-icon {
  cursor: pointer;
  color: var(--third-color);
}

nav {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
nav > strong > img {
  width: 80px;
  height: 80px !important;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 4px solid var(--third-color);
}
nav > strong > h5 {
  font-family: "Raleway", sans-serif;
  color: var(--third-color);
  font-size: 25px;
  font-weight: 600;
}

nav > li {
  list-style: none;
  display: flex;
  justify-content: start;
  margin: 25px 0;
  padding: 5px 10px;
  height: 36px;
  border-radius: 5px;
}
nav > li > a > span {
  margin-right: 15px;
  vertical-align: middle;
}

nav > li > a {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  text-align: start;
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
}
nav > li > a:hover {
  color: var(--third-color);
  background: var(--first-color);
}
.hide-icon {
  text-align: end;
  position: absolute;
  top: 0;
  right: 20px;
  color: red;
}

.MuiButton-label > a {
  font-family: "Raleway", sans-serif;
  color: white;
}
