@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;0,900;1,400;1,500&display=swap");
.about-right-content {
  color: white;
}

.about-right-content h3 {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.aboutSection {
  align-items: center;
  display: flex;
  height: 80vh;
}
.about-left-content {
  color: white;
  padding: 20px;
  border-top: 1px solid #ffffff40;
  border-left: 1px solid #ffffff40;
  border-bottom: 1px solid #ffffff40;
  text-align: center;
}

span.experience-number {
  font-size: 190px;
  font-weight: 800;
  text-align: center;
}

span.has-accent-color {
  color: #99cc00;
  font-family: "Raleway", sans-serif;
}
h5.experience-text {
  text-align: end;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h5.experience-text:before {
  content: "";
  position: absolute;
  width: 38%;
  left: 54px;
  bottom: 50px;
  height: 2px;
  background: #99cc00;
}
.progressBar h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--first-color);
}
